.content {
  @apply grid lg:grid-cols-6 sm:grid-cols-4 2sm:grid-cols-2 grid-cols-1 gap-1 sm:px-0 px-1;
}

.section {
  @apply mt-24 h-full flex md:flex-row flex-col gap-6 1sm:container sm:px-0 1sm:px-4 px-1;

  .left {
    flex: 1;
    height: 100%;
    @apply flex flex-col gap-8 justify-center pt-8 md:px-0 px-2;

    .cart_price {
      @apply w-full p-8 rounded-xl;

      border: 2px solid #e5e5e5;

      .price_header {
        @apply flex items-center justify-between mb-4;

        & > span {
          @apply 1sm:text-[20px] text-[18px] text-red-700 font-DanaDemiBold;
        }
      }

      .prices {
        @apply flex flex-col gap-4 mt-4;

        .price {
          @apply flex justify-between items-center;

          & > span {
            @apply 1sm:text-[14px] text-[16px] font-DanaDemiBold text-red-500;
          }

          .price_count {
            @apply 1sm:text-[14px] text-[16px] font-DanaFaNumExtraBold text-cblack;
          }
        }
      }
    }
  }

  .right {
    flex: 1;
  }
}

.transport_container {
  @apply flex flex-wrap md:gap-4 gap-2 mt-4;

  .transport_content {
    @apply bg-slate-100 text-[14px] rounded-lg p-2 w-full text-right;

    & > div {
      @apply text-[14px] flex gap-2 items-center flex-row-reverse justify-end;
    }
  }

  .transport_content_disable {
    @apply opacity-40;
  }
}

.container_userInfo {
  @apply rounded-xl py-3 px-4;

  border: 1px solid #e0e0e2;

  .header {
    @apply flex items-center justify-between;

    & > span {
      @apply text-[#23254e] text-[18px] font-bold;
      border-bottom: 3px solid #f5766d;
    }
  }

  .userInfo_inputs {
    @apply flex flex-col gap-4 mt-5;
  }
}

.Infos_container {
  @apply flex flex-col gap-6;
}

