@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'DanaFaNum Med';
    src:
      local('DanaFaNum Med'), url('/fonts/Dana/woff2/DanaFaNum-Regular.woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'DanaFaNum ExtraBold';
    src:
      local('DanaFaNum ExtraBold'),
      url('/fonts/Dana/woff2/DanaFaNum-ExtraBold.woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Dana Medium';
    src: local('Dana Medium'), url('/fonts/Dana/woff2/Dana-Regular.woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Dana Bold';
    src: local('Dana Bold'), url('/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Dana ExtraLight';
    src: local('Dana ExtraLight'), url('/fonts/Dana/woff2/Dana-Light.woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Dana ExtraBold';
    src: local('Dana ExtraBold'), url('/fonts/Dana/woff2/Dana-ExtraBold.woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Dana';
    src: local('Dana'), url('/fonts/Dana/woff2/DanaFaNum-Regular.woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Morabba Light';
    src:
      local('Morabba Light'), url('/fonts/Morabba/woff2/Morabba-Light.woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Morabba Medium';
    src:
      local('Morabba Medium'), url('/fonts/Morabba/woff2/Morabba-Medium.woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Morabba Bold';
    src: local('Morabba Bold'), url('/fonts/Morabba/woff2/Morabba-Bold.woff2');
    font-display: swap;
  }
}

body {
  @apply font-Dana !important;
  min-height: auto;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: none;
}

body::-webkit-scrollbar {
  @apply md:w-[6px] w-[0px];
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
  @apply bg-primary;
  border-radius: 20px;
}

.swal2-title {
  @apply md:text-[24px] 1sm:text-[20px] text-[18px] !important;
}

.swal2-popup,
.swal2-modal,
.swal2-icon-error,
.swal2-show {
  border-radius: 25px !important;
  color: #665691 !important;
}

.swal2-confirm,
.swal2-cancel {
  border-radius: 10px !important;
  @apply sm:text-[16px] text-[12px] md:min-w-[100px] min-w-[80px] px-4 py-2;
}

.swal2-confirm {
  background-color: #e44646 !important;
  color: #ffffff !important;

  &:hover {
    background-color: #b45959 !important;
  }
}

.swal2-cancel {
  background-color: #fff !important;
  color: #11434b !important;
  border: 1px solid #8eb7be !important;

  &:hover {
    border: 1px solid #699198 !important;
    background-image: unset !important;
  }
}
