django
psycopg2-binary
django-treebeard
celery
django-redis
djangorestframework
django-filter
djangorestframework-simplejwt
drf-nested-routers
drf-spectacular
python-decouple
django-cors-headers
django-storages
boto3
whitenoise
django-silk
pytest-django
httpx
uvicorn[standard]
pillow
django-ckeditor-5
django-debug-toolbar
gunicorn
ipython
