.section {
  @apply pt-8 pb-32 bg-[#f8f8fa];
}

.article_container {
  @apply 1sm:container 1sm:px-0 px-2 grid grid-cols-12 gap-4;

  .right {
    @apply lg:col-span-8 col-span-full bg-white h-full w-full p-5 rounded-[12px];
    border: 0 solid #e5e7eb;

    .title {
      @apply md:text-[26px] text-[20px] font-DanaDemiBold text-cblack;
    }

    .header_info_content {
      @apply flex gap-4 flex-wrap;

      & > div {
        @apply text-[#64748b] flex items-center gap-2;

        & > span {
          @apply sm:text-[16px] text-[14px];
        }

        & > svg {
          @apply sm:text-[20px] text-[18px] mb-1;
        }
      }
    }

    .poster {
      @apply my-6;

      & > img {
        @apply w-full rounded-[12px];
      }
    }

    .body_content {
      @apply font-Dana;

      & > p {
        @apply text-[#374151] leading-[28px] sm:text-[16px] text-[14px];
        word-spacing: 1.1px;
      }

      & > img {
        @apply w-full rounded-[12px] my-8;
      }

      & > h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply text-cblack font-DanaExtraBold mt-8 mb-2;
      }

      & > h1 {
        @apply text-[22px];
      }

      & > h2 {
        @apply text-[20px];
      }

      & > h3 {
        @apply text-[18px];
      }

      & > h4 {
        @apply text-[16px];
      }

      & > ul {
        @apply list-disc;

        & > li {
          @apply text-black leading-[28px] text-[16px] mt-2;
          word-spacing: 1.1px;
        }
      }
    }
  }

  .left {
    @apply lg:col-span-4 col-span-full w-full;

    .share_link_box {
      @apply bg-white h-fit w-full p-5 rounded-[12px];
      border: 0 solid #e5e7eb;
    }

    .share_link {
      @apply flex items-center gap-2;

      & > span {
        @apply text-cblack text-[16px] font-Dana;
      }

      & > svg {
        @apply text-cblack text-[20px];
      }
    }

    .copy_link {
      @apply w-full flex items-center justify-between gap-2 bg-blue-50 rounded-[12px] py-4 px-3 mt-4;
      border: 1px dashed #2163e7;

      .url_link {
        @apply text-blue-600 text-[14px];
        direction: ltr;
      }

      .icon_box {
        @apply flex gap-2 items-center;

        & > span {
          @apply text-blue-500 text-[16px];
        }

        & > svg {
          @apply text-blue-500 text-[22px];
        }
      }
    }

    .tags_container {
      @apply bg-white h-fit w-full p-5 rounded-[12px] mt-4;
      border: 0 solid #e5e7eb;

      .tag_header {
        @apply flex items-center gap-2;

        & > span {
          @apply text-cblack text-[16px] font-Dana;
        }

        & > svg {
          @apply text-cblack text-[20px];
        }
      }

      .tags_box {
        @apply flex flex-wrap gap-2 items-center mt-4;

        .tag {
          @apply flex items-end bg-slate-200 rounded-[8px] px-3 py-1 text-title text-[14px] font-extralight cursor-pointer;
        }
      }
    }

    .likes_container {
      @apply bg-white h-fit w-full p-5 rounded-[12px] mt-4;
      border: 0 solid #e5e7eb;

      .like_header {
        @apply flex items-center gap-2;

        & > span {
          @apply text-cblack text-[16px] font-Dana;
        }

        & > svg {
          @apply text-cblack text-[20px];
        }
      }

      .likes_box {
        @apply mt-4 flex flex-wrap gap-2 items-center;

        .like {
          @apply flex items-center h-[36px] gap-2 bg-slate-200 rounded-[8px] px-3 py-1 text-title text-[14px] font-extralight cursor-pointer;
        }
      }
    }

    .latest_articles {
      @apply bg-white h-fit w-full p-5 rounded-[12px] mt-4;
      border: 0 solid #e5e7eb;

      .header {
        @apply flex items-center gap-2;

        & > span {
          @apply text-cblack text-[16px] font-Dana;
        }

        & > svg {
          @apply text-[20px];
        }
      }

      .content {
        @apply flex flex-col gap-2 mt-4;

        .latest_articles_box {
          @apply flex items-center gap-4 bg-[#f8f8fa] p-4 rounded-[12px];

          & > div {
            & > img {
              @apply w-[100px] h-[80px] object-cover  rounded-[12px];
            }
          }

          .latest_article_info {
            & > h4 {
              @apply h-[40px] text-title text-[14px] font-DanaMedium;
            }

            & > div {
              @apply flex gap-2 text-title text-[14px] font-DanaExtraLight mt-4;
            }
          }
        }
      }
    }
  }
}
