.root {
  position: relative;
  border-radius: 12px;
  width: 100%;
}

.input {
  min-height: 50px;
  padding: 8px 16px;
  caret-color: #4974b1;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  outline: 1px solid #9aa4b2;
  transition: outline 100ms ease;
  color: #9aa4b2;
  @apply font-DanaMedium;

  &::placeholder {
    color: #000000;
  }

  &:focus-within {
    outline: 2px solid #373e4a;
    color: #202939;
  }

  &[data-filled] {
    color: #000000;
  }

  &[data-error] {
    outline: 2px solid red;
    color: red;
  }
}

.label {
  position: absolute;
  padding-inline: 4px;
  z-index: 1;
  pointer-events: none;
  top: calc(50px / 2);
  transform: translateY(-50%);
  right: 8px;
  color: #000000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  @apply font-DanaMedium;

  transition:
    color 100ms ease,
    transform 100ms ease;

  &[data-floating] {
    transform: translateY(-40px);
    color: #000000;
    background-color: white;
  }

  &[data-filled] {
    color: #0060fb;
  }

  &[data-error] {
    color: red;
  }
}

.error {
  padding: 4px 16px 0 16px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: red;
}

.section {
  &[data-position='right'] {
    --input-right-section-size: 48px;
    --psi-icon-size: 24px;
  }
}
