.product_container {
  @apply flex lg:flex-row flex-col items-center 2sm:container gap-8 mt-4 2sm:px-0 px-4;

  .right {
    flex: 1;
    @apply flex items-center flex-col gap-4;

    .product_image {
      @apply w-full bg-gray-100 rounded-md flex justify-center items-center;

      & > img {
        @apply object-cover sm:w-[80%] w-[50%];
      }
    }

    .right_images {
      @apply flex gap-2;

      & > button {
        @apply p-2 rounded-md bg-gray-100;
      }

      .imageBtn {
        padding: 0 22px;
      }
    }
  }

  .left {
    flex: 1;
    @apply pt-2 flex flex-col gap-4 justify-start h-[69vh] w-full relative;

    .title {
      & > h1 {
        @apply text-cblack pb-2 sm:text-[30px] text-[20px] font-DanaDemiBold mb-2 lg:w-[80%] w-full;
        border-bottom: 1px solid #e5e5e5;
      }
    }

    .priceTotal {
      @apply flex lg:flex-row flex-col lg:items-center items-start gap-4 border-b lg:border-none border-[#e5e5e5] w-full lg:pb-0 pb-4;

      .price {
        @apply flex items-center gap-1 text-[20px] text-red-900 font-DanaFaNumExtraBold;

        & > svg {
          @apply text-[14px] text-red-700 mb-2;
        }
      }

      .price_discount {
        @apply flex items-center gap-1 text-[28px] font-DanaFaNumExtraBold text-red-900;

        .toman_icon {
          @apply text-[14px] text-red-900 mb-2;
        }
      }
    }

    .specifications {
      @apply flex flex-wrap items-start gap-1 md:mt-4  border-b lg:border-[#e5e5e5]  lg:w-[80%] w-full lg:pb-4 pb-2;

      & > h2 {
        @apply text-cblack text-[14px] font-DanaDemiBold mb-2 w-full lg:hidden block;
      }

      .specifications_item {
        @apply flex flex-col px-4 py-2 bg-slate-50 rounded-md gap-2 sm:basis-[30%] sm:min-h-[110px];

        & > p:first-child {
          @apply text-gray-500 text-[12px] font-DanaDemiBold;
        }

        & > p:last-child {
          @apply text-cblack md:text-[14px] text-[12px] font-DanaDemiBold;
        }
      }
    }
  }
}
.main_image {
  @apply object-cover w-[100%];
}
.slide {
  @apply flex justify-center bg-gray-100;
}

.counter_conatiner {
  @apply flex gap-0 items-center;

  & > button {
    @apply text-slate-600 font-DanaFaNumMed text-[18px] w-[45px] h-[45px] flex items-center justify-center cursor-pointer;
    padding: 18px 13px 15px 13px;

    &:hover {
      @apply bg-red-500 text-white;
    }
  }

  .counter_minus {
    border: 1px solid #b6888892;
    border-radius: 0 50px 50px 0;
  }

  .counter_number {
    border-top: 1px solid #b6888892;
    border-bottom: 1px solid #b6888892;
    @apply text-[18px] font-DanaFaNumExtraBold;
  }

  .counter_plus {
    border: 1px solid #b6888892;
    border-radius: 50px 0 0 50px;
  }
}

.product_infos {
  @apply flex flex-col gap-4;

  .tags {
    @apply flex flex-wrap items-center gap-2;

    & > h3 {
      @apply text-cblack md:text-[14px] text-[16px] font-DanaDemiBold;
    }

    & > button {
      @apply bg-red-500 text-white text-[12px] font-DanaDemiBold rounded-md px-2 py-1 flex items-center;

      & > span {
        @apply mt-1;
      }
    }
  }
}

.brands {
  @apply flex gap-1 border-b lg:border-none border-[#e5e5e5] w-full lg:pb-0 pb-2;

  & > h2 {
    @apply text-cblack text-[14px] font-DanaDemiBold;
  }
}

.variants {
  @apply flex items-center gap-2 lg:w-[50%] w-full;

  & > button > svg {
    @apply text-red-500 text-[28px];
  }
}

.bottom {
  @apply flex items-center 1sm:container gap-8 mt-28 mb-16;
}

.addToBag {
  @apply flex items-center justify-between lg:relative fixed bottom-0 left-0 w-full lg:bg-white bg-slate-50 z-20 lg:p-0 p-4;
}

.price_fixed {
  @apply lg:hidden flex items-center gap-2 text-[20px] text-red-900 font-DanaFaNumExtraBold;
}
