.root {
  position: relative;
  border-radius: 12px;
  width: 100%;
}

.input {
  @apply px-2 py-4 font-DanaMedium  h-[50px] text-[16px] border-none rounded-[8px] !important;
  outline: 1px solid #ca4242;
  transition: outline 100ms ease;
  direction: rtl;

  &:focus-within {
    color: #202939;
    outline: 1px solid #bc2d2d;
  }

  &[data-filled] {
    color: #202939;
  }

  &[data-error] {
    outline: 2px solid red;
    color: red;
  }
}
.innerInput {
  @apply font-DanaMedium;
}

.label {
  position: absolute;
  padding-inline: 4px;
  z-index: 1;
  pointer-events: none;
  top: calc(50px / 2);
  transform: translateY(-50%);
  right: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  @apply font-DanaMedium text-main;

  transition:
    color 100ms ease,
    transform 100ms ease;

  &[data-floating] {
    transform: translateY(-40px);
    background-color: white;
  }

  &[data-error] {
    color: red;
  }
}

.error {
  padding: 4px 16px 0 16px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: red;
}

.section {
  &[data-position='right'] {
    --input-right-section-size: 48px;
    --psi-icon-size: 24px;
  }
}
