.notifMain {
  @apply bg-white rounded-[20px] py-4 px-2 z-50;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.nameSection {
  padding-bottom: 10px;

  & span {
    @apply text-[20px] font-DanaMedium text-title;
  }
}

.notifItem {
  @apply flex justify-center pb-[10px];
  border-bottom: 2px solid;
  flex: 1;
}

.notifItem.active {
  @apply text-title;
  border-bottom: 2px solid;
}

.notifList {
  & ul {
    @apply flex justify-around mt-8;

    & li {
      @apply 1sm:text-[14px] text-[10px] font-DanaMedium text-slate-400 cursor-pointer;
    }
  }
}

.notifContents {
  @apply px-2 h-[500px] overflow-y-auto;
}

.notifContents {
  @apply flex flex-col gap-3;
}

.notifContent {
  @apply py-4 transition-all duration-300 ease-in-out border-b border-[#e5e5e5];
}

.notifContentTitle {
  @apply flex justify-between text-[14px] mb-2 text-title;
}

.notifContentDesc {
  @apply text-[12px] text-title;
}

.notifContentTitleRight {
  @apply flex items-center gap-1;

  & > button {
    @apply bg-[#3A4988] p-1 rounded-full flex items-center justify-center;

    .singleTick {
      @apply text-[10px] text-white;
    }
  }
}

.date {
  @apply text-[#3A4988] text-[12px];
}

.notFound {
  @apply flex flex-col items-center justify-center mt-2 text-red-400 font-DanaDemiBold text-[14px];
}

.loading {
  @apply flex items-center justify-center w-full;
}

.redirect_btn {
  @apply w-fit flex justify-start text-[10px] bg-slate-200 py-0.5 px-1 rounded-[5px] cursor-pointer;
}
