.box {
  @apply bg-white w-full mx-auto rounded-[12px] flex flex-col justify-between cursor-pointer;
  border: 1px solid #f3f3f3;
  transition: all 0.2s ease-in-out;
}

.box:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}

.boxTop {
  @apply bg-[#fafafa] rounded-[12px] m-2 flex items-center justify-center relative;
}

.discount {
  @apply absolute top-2 right-2 bg-red-600 text-white flex items-center justify-center text-[14px] font-bold;
  width: 42px;
  height: 42px;
  border-radius: 0 0 100px 100px;
  box-shadow: 0 2px 10px rgba(255, 0, 0, 0.3);
}

.boxTop img {
  @apply sm:w-full w-[60%] object-contain p-2;
}

.boxBottom {
  @apply pb-4 px-3;
}

.title h3 {
  @apply text-[14px] font-bold leading-6 text-cblack h-[52px] font-Dana;
}

.price {
  @apply flex flex-col gap-[3px] items-center justify-end mt-1;
}

.finalPriceRow {
  @apply flex items-center;
}
.tomanIcon {
  @apply text-[10px] mb-1;
}

.price span {
  @apply xl:text-[17px] sm:text-[14px] text-[17px] text-title font-DanaFaNumMed font-bold;
}

.productInfo {
  @apply flex flex-row-reverse justify-between items-center mt-4;
}

.btn {
  @apply flex flex-row-reverse items-center gap-1 bg-primary text-white xl:px-3 px-2 py-1 rounded-full transition;
}

/* .btn:hover { */
/* background: #d20000; */
/* } */

.btn span {
  @apply text-[14px] font-DanaMedium;
}

.oldPrice {
  text-decoration: line-through;
  color: #9ca3af;
  font-size: 12px;
  margin-left: 6px;
}

.finalPrice {
  font-weight: 700;
  font-size: 14px;
}
