.scrollSection {
  @apply flex flex-col gap-20;

  .container_slider {
    @apply container mx-auto;
  }

  .scrollTitle {
    @apply text-center text-title 2md:text-[28px] text-[22px] font-DanaExtraBold;
  }
}

.title {
  & > h1 {
    @apply text-center p-4 mt-8 sm:text-[32px] text-[28px] font-DanaExtraBold rounded-[24px];
  }
}

.section {
  @apply mt-24 w-full;
}

.CategoryConatiner {
  @apply sm:container mx-auto;

  .header {
    @apply flex sm:items-center items-start sm:gap-0 gap-2 sm:flex-row flex-col w-full;

    & > h2 {
      @apply sm:text-[20px] text-[16px] font-DanaMedium text-main min-w-fit relative sm:border-none border-b-2 border-[#e5e5e5];

      &::after {
        @apply sm:hidden block sm:content-[''] content-[''] sm:w-full w-[50px] h-[2px] bg-main;
      }

      flex: 1;

      & > span {
        @apply sm:text-[20px] text-[16px] font-DanaDemiBold;
      }
    }

    .divider {
      @apply sm:block hidden;
      border: 1px solid #e5e5e5;
      width: 100%;
      margin: 0 16px;
      flex: 5;
    }
  }

  .content {
    @apply flex justify-between items-center mt-8;

    .box {
      @apply flex flex-col items-center gap-1;

      & > span {
        @apply text-[14px] text-main font-DanaDemiBold;
      }
    }
  }
}
