.navbar_container {
  /* @apply bg-[#ee4242] rounded-2xl py-3 xl:mx-24 mx-14 lg:block hidden; */
  @apply bg-primary rounded-2xl py-3 xl:mx-24 mx-14 lg:block hidden;
}

.header {
  @apply sm:flex hidden justify-between items-center px-6;

  .ul {
    @apply flex gap-4 text-white items-center;

    .divider {
      border-left: 1px solid rgba(239, 233, 233, 0.268);
      @apply h-[12px];
    }

    & > li {
      & > a {
        @apply flex items-center gap-2;

        & > svg {
          @apply text-[20px] text-white mb-1;
        }
      }

      & > div {
        @apply flex items-center gap-2;

        & > svg {
          @apply text-[20px] text-white mb-1;
        }
      }
    }
  }
}

.dropdown_container {
  @apply relative;
  cursor: pointer;
  transition: all 1s ease-in-out;
  & > button {
    @apply flex gap-1 items-center;
    & > svg {
      @apply mb-0.5 text-[20px];
    }
  }

  &:hover .dropdown {
    @apply block;
  }

  .dropdown {
    @apply hidden overflow-y-auto w-[200px] h-[330px] bg-white absolute top-[21px] right-0 rounded-lg shadow-lg z-10;

    &::-webkit-scrollbar {
      width: 1px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgb(255, 255, 255);
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: rgb(255, 255, 255);
      border-radius: 20px;
    }

    .dropdown_ul {
      @apply flex flex-col gap-2 p-3;

      & > li {
        @apply p-1 flex items-center justify-between;
        border-bottom: 1px solid #f1f0f0cc;

        &:hover {
          @apply bg-gray-100 rounded-lg;
        }

        & > a {
          @apply text-[14px] text-gray-700 hover:text-red-500 flex justify-between items-center w-full;

          & > svg {
            @apply text-[20px] text-gray-700;
          }
        }
      }
    }
  }
}

.title {
  & > a {
    @apply bg-[#3b0808] px-6 py-3 text-white flex items-center gap-2 rounded-[50px];
  }
}
