.box {
  @apply block bg-[#fafafaf2] rounded-[20px] w-full pt-0.5 pb-4 md:w-[300px] sm:w-[280px] 1sm:w-[220px] !important;

  direction: rtl;

  .boxTop {
    @apply bg-[#D8D8D8] rounded-[20px] m-2 flex items-center justify-center;

    & > img {
      @apply w-[100%] h-[170px] object-cover rounded-[20px];
    }
  }

  .boxBottom {
    @apply flex flex-col justify-between;

    .boxBottom_up {
      .title {
        @apply h-[55px];

        & h3 {
          @apply text-title 1sm:text-[16px] text-[18px] font-DanaDemiBold;
        }
      }

      & div {
        @apply md:px-5 px-2 mt-1;

        & > p {
          @apply leading-6 font-DanaMedium sm:text-[13px] 1sm:text-[12px] text-[13px] text-black;
          text-align: justify;
        }
      }
    }

    .boxBottom_down {
      @apply px-5 mt-4;
    }
  }
}

.container {
  @apply gap-4;
}

.viewport {
  @apply rounded-[20px];
}

.controls {
  @apply justify-center top-[unset] mt-[10px] gap-2;
}

.control {
  @apply w-[35px] h-[30px] flex items-center gap-1 sm:text-[16px] text-[14px] rounded-xl text-white cursor-pointer transition-all duration-100 ease-out;
  border: 1px solid #ec5555;
  box-shadow: 0px 5px 0px 0px #ec5555;
  background: #ec5555;

  & svg {
    @apply w-[30px] h-[30px] text-white !important;
  }
}

.post_introduction {
  @apply h-[130px];
}

@keyframes myAnim {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 60% 0;
  }

  10% {
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(2deg);
  }
}
