.RegisterMain {
  @apply 1sm:container bg-white rounded-[20px] px-4 pt-8 pb-8 min-h-screen;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.nameSection {
  @apply pb-[10px] flex justify-between border-b-[0.5px];

  & span {
    @apply text-[20px] font-DanaMedium text-title;
  }

  & > div {
    @apply flex items-center text-[30px] text-title bg-zinc-200 rounded-[10px] p-2 justify-center;
  }
}

.td {
  @apply flex justify-center;

  & p {
    @apply bg-[#dfebfb] rounded-[10px] px-4 py-2 w-fit text-[14px];
  }

  & > svg {
    @apply text-[20px];
  }

  & > a {
    @apply bg-[#dfebfb] rounded-[10px] px-4 py-2 w-fit text-[14px];
  }
}

.header {
  @apply flex justify-between items-center md:flex-row flex-col gap-3 1sm:py-[30px] 1sm:p-[10px] rounded-[10px] md:mt-0 mt-2;

  .search_box {
    @apply w-full  z-0;
    flex: 1;
  }

  .filter {
    @apply flex 1sm:gap-2 justify-end;
    flex: 1;

    & > .filter_btn {
      @apply text-slate-600 sm:text-[14px] 2sm:text-[12px] 4sm:text-[10px] font-DanaMedium border-none cursor-pointer;
      padding: 5px 10px;

      &.active {
        @apply text-slate-600 rounded-[12px] bg-slate-200 py-2 px-4 border-none cursor-pointer;
      }
    }
  }
}

.deleteBtn {
  & > svg {
    @apply text-[20px] text-[#d72b2b];
  }
}
