.footer {
  @apply mt-44;
}

.support {
  @apply flex flex-col items-center justify-center w-full min-h-[160px];

  .support_bottom_container {
    @apply bg-[#F5F5F5] w-full;
  }

  .support_bottom {
    @apply flex items-center lg:flex-row flex-col py-8 lg:px-0 px-1 lg:gap-0 gap-10 justify-between w-full sm:container;
  }

  .support_bottom_left {
    @apply flex md:gap-8 gap-4 justify-center items-center flex-wrap;

    .support_bottom_left_icons {
      @apply flex flex-col items-center  gap-4 sm:text-[16px] 1sm:text-[14px] text-[12px] font-DanaDemiBold;

      & > svg {
        @apply sm:w-28 w-10 h-16;
      }

      & > h4 {
        @apply text-center;
      }
    }
  }

  .support_bottom_right {
    @apply flex flex-col gap-4;

    & > h4 {
      @apply text-[16px] font-DanaDemiBold text-[#5D6678];
    }

    .support_bottom_right_content {
      @apply flex gap-4 items-center sm:flex-row flex-col;

      & > span {
        direction: rtl;
      }

      .phone {
        direction: ltr;
      }
    }
  }
}

.footer_bootom {
  @apply pb-2 pt-6 sm:pr-20 sm:pl-10 flex flex-col justify-center;
  border-radius: 40px 40px 0px 0px;
}

.footer_bootom {
  & > p {
    @apply text-cblack sm:text-[16px] text-[12px] font-DanaMedium cursor-pointer flex justify-center;
  }
}

.footer_container {
  @apply flex md:flex-row flex-col md:gap-0 gap-5 justify-between md:items-center 1sm:container;

  .footer_right {
    @apply flex sm:flex-row flex-col sm:gap-20 gap-5 sm:items-center items-start sm:pr-0 pr-10;
    flex: 2;

    & > div {
      @apply h-[166px];
    }

    & > .footer_right_box {
      @apply flex flex-col justify-start gap-2;

      & > h6 {
        @apply text-cblack text-[18px] font-DanaDemiBold;
      }

      & > ul {
        list-style: disc;

        & > li {
          @apply text-cblack text-[14px] mt-1 font-DanaMedium;
        }
      }
    }
  }

  .footer_left {
    @apply flex justify-center;
    flex: 1;

    & > .footer_left_box {
      @apply rounded-md sm:w-[40%] w-[20%];
    }
  }
}

.footer_right_social {
  & > h5 {
    @apply text-cblack text-[18px] font-DanaDemiBold;
  }

  .icon_box {
    @apply flex flex-col;
    list-style: none !important;

    .icon {
      transition: all 0.3s ease-in-out;

      &:hover {
        @apply bg-slate-200 rounded-[10px];
      }

      & > a {
        @apply flex items-center gap-2 h-[30px];

        & > span {
          @apply text-[14px] text-title font-DanaMedium;
        }

        & > svg {
          @apply text-[22px] cursor-pointer;
        }
      }
    }
  }
}

.social {
  @apply text-[12px] text-title text-center;
}

.codeima {
  @apply flex items-center justify-center font-DanaMedium text-[14px] text-center w-full opacity-95 gap-1 text-cblack;

  & > p {
    @apply text-blue-700;
  }
}
