.form_container {
  @apply flex flex-col justify-between;
}

.form {
  @apply grid md:grid-cols-1 gap-4 mt-4 py-5 px-8 rounded-[20px];
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  direction: rtl;
}

.table {
  direction: rtl;
}

.td {
  @apply flex justify-center;

  & p {
    @apply bg-[#dfebfb] rounded-[10px] px-4 py-2 w-fit text-[14px];
  }

  & > svg {
    @apply text-[20px];
  }

  & > a {
    @apply bg-[#dfebfb] rounded-[10px] px-4 py-2 w-fit text-[14px];
  }
}

.deleteBtn {
  & > svg {
    @apply text-[20px] text-[#d72b2b];
  }
}
