.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  .root {
    width: 100%;
    display: flex;
    justify-content: center;
    --pagination-active-color: rgb(255, 255, 255);
  }

  .control {
    border: none;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 15px 15px 15px;

    &[data-active] {
      @apply bg-primary;
    }
  }

  .controls {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    border: none;
    color: white;
    background: rgb(7, 32, 62);
    cursor: pointer;
    font-weight: 500;
  }
}
