.button_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}



.shine_button {
  @apply sm:px-5 px-4 sm:py-4 py-3 sm:text-lg text-sm;
  position: relative;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  max-width: 400px;
  transform: rotate(0deg);
  margin-top: 10px;

}

.shine_button::before {
  content: '';
  position: absolute;
  height: 250%;
  width: 40px;
  top: 0;
  left: -60px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transform: rotate(45deg) translateY(-35%);
  animation: shine 1s ease infinite;
}

@keyframes shine {
  0% {
    left: -80px;
  }

  40% {
    left: calc(100% + 20px);
  }

  100% {
    left: calc(100% + 20px);
  }
}

.button_ocean {
  background: linear-gradient(135deg, #e22a2a 0%, #cf1f1f 100%);
  color: #fff;
  box-shadow:
    0 10px 30px rgba(234, 102, 102, 0.4),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
}