.form_container {
  @apply flex flex-col justify-between;
}

.form {
  @apply grid md:grid-cols-1 gap-4 mt-4 py-5 px-8 rounded-[20px];
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.table {
  direction: rtl;
}

.datePicker {
  direction: rtl;

  & > div {
    @apply w-full cursor-pointer;
  }

  & input {
    @apply cursor-pointer text-[14px] font-DanaFaNumMed text-[#151d2b];
  }

  & input::placeholder {
    @apply text-[#4a4655] text-[14px] font-DanaMedium text-center;
  }

  & input:focus {
    box-shadow: 0 0 0 rgb(255, 255, 255);
  }
}

.td {
  @apply flex justify-center;

  & p {
    @apply bg-[#dfebfb] rounded-[10px] px-4 py-2 w-fit text-[14px];
  }

  & > svg {
    @apply text-[20px];
  }

  & > a {
    @apply bg-[#dfebfb] rounded-[10px] px-4 py-2 w-fit text-[14px];
  }
}

.deleteBtn {
  & > svg {
    @apply text-[20px] text-[#d72b2b];
  }
}
