.bag_container {
  @apply flex flex-col justify-between;

  .bag_list {
    @apply flex flex-col gap-2 h-full overflow-y-auto pl-4;

    direction: rtl;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ea8989;
      border-radius: 50px;
    }
  }
}

.bag_card {
  @apply flex items-center justify-between gap-3;

  .bag_card_image {
    @apply bg-gray-200 rounded-md w-[127px] h-[127px] flex items-center justify-center overflow-hidden;

    & > img {
      @apply w-[100%] object-cover;
    }
  }

  .bag_card_content {
    flex: 1;
    direction: rtl;
    @apply flex justify-start flex-col gap-2;

    .bag_card_content_title {
      @apply flex justify-between items-center;

      & > h3 {
        @apply font-DanaDemiBold text-[14px] text-black;
      }

      & > button > svg {
        @apply text-[18px] text-red-600 cursor-pointer;
      }
    }

    .counter_conatiner {
      @apply flex gap-0 items-center;

      & > button {
        @apply text-slate-600 font-DanaFaNumMed text-[16px] w-[20px] h-[20px] flex items-center justify-center cursor-pointer;
        padding: 18px 13px 15px 13px;

        &:hover {
          @apply bg-red-500 text-white;
        }
      }

      .counter_minus {
        border: 1px solid #b6888892;
        border-radius: 0 50px 50px 0;
      }

      .counter_number {
        border-top: 1px solid #b6888892;
        border-bottom: 1px solid #b6888892;
      }

      .counter_plus {
        border: 1px solid #b6888892;
        border-radius: 50px 0 0 50px;
      }
    }

    .price_product {
      @apply flex items-center gap-2;

      & > span {
        @apply text-[14px] text-slate-800 font-DanaFaNumMed;
      }

      & > div {
        @apply flex items-center gap-0.5;

        & > span {
          @apply text-[14px] text-red-600 font-DanaFaNumExtraBold;
        }

        & > svg {
          @apply text-[8px] mb-1 text-red-600;
          fill: #dc2626;
        }
      }
    }
  }
}

.total_price_container {
  @apply flex flex-col gap-3;

  .total_price {
    @apply flex justify-between flex-row-reverse py-4;

    & > span {
      direction: rtl;
      @apply flex gap-2 flex-row-reverse items-center 1sm:text-[18px] text-[20px] font-DanaFaNumExtraBold;
    }

    .total_price_count {
      @apply flex gap-2 flex-row-reverse items-center text-[18px] font-DanaFaNumExtraBold;

      & > svg {
        @apply text-[12px] mb-1;
      }
    }
  }

  .btns {
    @apply flex flex-col gap-2;
  }
}
