.main {
  @apply flex flex-col gap-2;
}

.container_address {
  border: 1px solid #e0e0e2;
  @apply rounded-xl py-3 px-4 flex flex-col gap-4;

  .header {
    @apply flex items-center justify-between;

    & > h1 {
      @apply text-[#23254e] text-[18px] font-bold;
      border-bottom: 3px solid #f5766d;
    }
  }

  .box {
    @apply p-4 rounded-xl;
    border: 1px solid #f5766d;

    .header_box {
      @apply flex items-center justify-between;

      .trash_btn {
        @apply text-red-700 text-[22px];
      }

      .header_box_address {
        @apply flex items-center gap-2 text-[#008eb2];

        & > svg {
          @apply text-[#008eb2] text-[18px];
        }
      }
    }

    .body_box {
      @apply mt-4 text-[14px] pr-6 text-[#62666d] flex flex-col items-start gap-1;
    }
  }

  .active {
    border: 3px solid #784cca;
  }
}

.box_address {
  @apply flex flex-col gap-8;

  .select {
    @apply flex gap-4;

    & > div {
      flex: 1;
    }
  }
}

.title {
  @apply text-[#008eb2] md:text-[16px] text-[14px] text-start;
}
