.containerFilter {
  @apply flex flex-col justify-between h-full;
}
.form {
  @apply grid md:grid-cols-1 gap-4 mt-4;
}

.buttonContainer {
  gap: 8px;
  display: flex;
  justify-content: end;
  & > button {
    min-width: 159px;
  }
}
